.leaderboard {
    margin-top: 20px;
    padding: 16px;
    text-align: left;
    border-radius: 8px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
ol li{
  padding-left: 10px;
}