#typing #startButton {
  margin-top: 200px;
}
#typing #gameDisplay{
    display: flex;
}
#typing #scoreDisplay{
    visibility: hidden;
}
#typing #output, #typing #message{
    padding: 5px;
    text-align: left;
    flex-basis: 50%;
}
