#typing #startButton {
  margin-top: 250px;
}
#typing{
    margin-top: 120px;
}
#typing #gameDisplay{
    display: flex;
    z-index: 1;
    width: 95%;
    margin-left: 2.5%;
}
#typing #scoreDisplay{
    visibility: hidden;
}

#typing #output, #typing #message {
    padding: 20px;
    text-align: left;
    flex-basis: 50%;
    font-size: 24px;
    min-height: 100px;
    position: relative;
    z-index: 2;
}

.output2 {
    z-index: 1;
    padding: 20px;
    text-align: left;
    flex-basis: 50%;
    font-size: 24px;
    min-height: 100px;
    position: relative;
}
