#typing #startButton {
  margin-top: 200px;
}
#typing #gameDisplay{
    display: flex;
    z-index: 1;
}
#typing #scoreDisplay{
    visibility: hidden;
}

#typing #output, #typing #message {
    padding: 20px;
    text-align: left;
    flex-basis: 50%;
    font-size: 24px;
    min-height: 100px;
    border: 1px solid red; /* Debug border */
    position: relative;
    z-index: 2;
}


